<footer class="footer">
  <div class="footer-social">
    <ul class="social-icons">
      {% if site.twitter_url %}
      <li><a href="{{ site.twitter_url }}"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.facebook_url %}
      <li><a href="{{ site.facebook_url }}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.instagram_url %}
      <li><a href="{{ site.instagram_url }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      {% endif %}
      <li><a href="mailto:dimonnn.26@gmail.com?subject=Votre ami au Bélarus"><i class="fa fa-envelope" aria-hidden="true" title="написать нам на почту" ></i></a></li>
    </ul>
    <ul class="copyright">
      <li>2019  by <a href="https://twitter.com/upermane" target="_blank">@upermane</a></li>
    </ul>
  </div>
  <div class="footer-newsletter"></div>
</footer>
