<header class="site-header">
  <button class="toggle_menu">
    <span class="sandwich">
      <span class="sw-topper"></span>
      <span class="sw-bottom"></span>
      <span class="sw-footer"></span>
    </span>
  </button>
  <nav class="top_menu">
    <ul>
      <li class="main-items"><a href="{{site.baseurl}}/">Accueil</a></li>
      <li class="main-items"><a href="{{site.baseurl}}/about/index.html">A propos du blog</a></li>
      <li class="main-items"><a href="{{site.baseurl}}/live/index.html">какая-то будет категория </a></li>
      <li class="main-items"><a href="mailto:dimonnn.26@gmail.com?subject=Votre ami au Bélarus">написать нам</a></li>
      <li class="main-items"><a href="https://www.instagram.com/votreami_voyage" target="_blank">instagram</a></li>
    </ul>
  </nav>
  <div class="header-content">
    <div class="logo">
      <a href="{{site.baseurl}}/" class="logo-link">Votre ami au Bélarus</a>
    </div>
  </div>
</header>
